@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


@model HomeViewModel


<body>




    <div id="main_body">

            <div style="padding: 20px;">顶上填充的东西，千万别露馅了，你看不到_(:з」∠)_</div>
            <div id="main_page" class="main_page" >
            

                <h1 id="motto" class="motto_class"> </h1>



                <br>
                <br>
            
                <br>
                <br>
            
                <br>
                <br>

                <button type="button" onclick="window.location.href='Blog/BlogPage'" class="layui-btn layui-btn-lg layui-btn-radius">进入博客</button>

        
            
            </div>
            <div style="padding: 20px;">内容主体区域。记得修改 layui.css 和 js 的路径</div>


    </div>


    @section Scripts{ 


        <script>


            function getCookie(name) {
                var str = document.cookie;
                var arr = str.split("; ");
                for (var i = 0; i < arr.length; i++) {
                    var arr1 = arr[i].split("=");
                    if (arr1[0] == name) {
                        return arr1[1];
                    }
                }
                return null;
            }


            var is_login = getCookie("is_login");

            if (is_login == "true") {


                $.ajax({
                    url: "/api/UserInfo/GetUserInfo",
                    type: 'GET',
                    headers: {
                        'Authorization': localStorage.getItem("JWTtoken")
                    },
                    success: function (res) {
                        //$('body').append("<style>.main_page:after{background:none}</style>");
                        var url_txt = res.data.mainPagePhoto.url;

                        var url = url_txt.toString();
                        //$('body').append("<style>.main_page:after{background:" + "url(" + url + ") no-repeat;background-size: cover;content: '';position: absolute;top: 0;left: 0;right:0;z-index: -1;opacity: 0.5;" + "}</style>");

                        $("#motto").text(res.data.motto);

                    },
                    error: function (res) {
                        alert("获取用户数据失败！");
                    }




                });
            } else {
                $("#motto").text("@Model?.motto");

                $("#login_register").css("display", "inline-block");

            }


        </script>

    }




    <div class="layui-footer footer text-muted">
        &copy; 2022 - MyBlog.WebAPI - <a asp-area="" asp-page="/Privacy">MyBlog</a>
    </div>



    <style>


        .main_page{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;

            height: 100vh;

        }

@*        .main_page:after {
 
                background:url(@Model?.photo.FilePath) no-repeat;
                background-size: cover;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right:0;
                bottom:0;
                z-index: -1;/*-1 可以当背景*/
/*                -webkit-filter: blur(3px);
                filter: blur(3px);*/
                 opacity: 0.7;

        } *@



   
                   







    </style>

</body>
