@{
    //全局视图的layout
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlog.WebAPI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/layui/css/layui.css">


    <link href="~/css/index_style.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.min.css" rel="stylesheet" type="text/css">


@*    极简博客的CSS*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/master.css" />
    <link rel="stylesheet" href="~/css/gloable.css" />
    <link rel="stylesheet" href="~/css/nprogress.css" />
    <link rel="stylesheet" href="~/css/blog.css" />


</head>
<body>
    <div id="header_bg" class="header">
    </div>


    <header class="gird-header">
        <div class="header-fixed">
            <div class="header-inner">
                <a href="javascript:void(0)" class="header-logo" id="logo">MyBlog</a>

                <ul class="layui-nav" style="left:550px;">

                    <li id="li_main_page" class="layui-nav-item" style="margin-left:80px">
                        <div>

                            <div type="button" onclick="login_register_click()" style="font-size:20px">
                                首页
                            </div>
                        </div>
                    </li>

                    <li id="li_blog" class="layui-nav-item " style="margin-left:50px">
                        <div>

                            <div type="button" onclick="login_register_click()" style="font-size:20px">
                                博客
                            </div>
                        </div>
                    </li>
                    <li id="li_society" class="layui-nav-item  "  style="margin-left:50px">
                        <div>

                            <div type="button" onclick="login_register_click()" style="font-size:20px">
                                社区
                            </div>
                        </div>
                    </li>
                    <li id="li_me" class="layui-nav-item " style="margin-left:50px">
                        <div>

                            <div type="button" onclick="login_register_click()" style="font-size:20px">
                                我
                            </div>
                        </div>
                    </li>

                </ul>

                <a href="/User/QQLogin" class="blog-user">
                    <i class="fa fa-qq"></i>
                </a>

                <ul class="layui-nav layui-layout-right">

                    <li id="login_register" class="layui-nav-item layui-hide layui-show-md-inline-block" style="margin-right:40px;">

                        <div>

                            <div type="button" onclick="login_register_click()" style="font-size:16px">
                                登录 / 注册
                            </div>
                        </div>
                    </li>



                    <li id="usermodule" class="layui-nav-item" lay-unselect="" style="display:none;">
                        <a href="javascript:;">
                            <img id="head_img" src="" tppabs="http://t.cn/RCzsdCq" class="layui-nav-img">
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">子级菜单</a></dd>
                            <dd><a href="javascript:;">横线隔断</a></dd>
                            <hr>
                            <dd style="text-align: center;" onclick="exit_login()"><a href="">退出</a></dd>
                        </dl>
                    </li>




                    <li class="layui-nav-item" lay-header-event="menuRight" style="margin-right:10px" lay-unselect>
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-more-vertical"></i>
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </header>


    <div>
        <div class="container-fixed">
            <main role="main" >
                @RenderBody()

            </main>

        </div>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2022 - MyBlog.WebAPI - <a asp-area="" asp-page="/Privacy">MyBlog</a>
        </div>
    </footer>*@





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="~/layui/layui.js"></script>
    <script src="~/js/wow.min.js"></script>


    <script src="~/js/yss/gloable.js"></script>
    <script src="~/js/plugins/nprogress.js"></script>
    <script src="~/js/yss/article.js"></script>
    <script>NProgress.start();</script>

    <script>
        window.onload = function () {
            NProgress.done();
        };
    </script>


    @await RenderSectionAsync("Scripts", required: false)

    <script>
        //JS
        layui.use(['element', 'layer', 'util'], function () {
            var element = layui.element
                , layer = layui.layer
                , util = layui.util
                , $ = layui.$;

            //头部事件
            util.event('lay-header-event', {
                //左侧菜单事件
                menuLeft: function (othis) {
                    layer.msg('展开左侧菜单的操作', { icon: 0 });
                }
                , menuRight: function () {
                    layer.open({
                        type: 1
                        , content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
                        , area: ['260px', '100%']
                        , offset: 'rt' //右上角
                        , anim: 5
                        , shadeClose: true
                    });
                }
            });

        });



        function login_register_click() {
            layer.open({
                type: 2,
                title: '登录/注册',
                area: ['450px', '500px'],
                fixed: false, //不固定
                maxmin: true,
                content: '/Home/Login'
            });


        }


        function getCookie(name) {
            var str = document.cookie;
            var arr = str.split("; ");
            for (var i = 0; i < arr.length; i++) {
                var arr1 = arr[i].split("=");
                if (arr1[0] == name) {
                    return arr1[1];
                }
            }
            return null;
        }



        document.ready = function () {

            var is_login = getCookie("is_login");

            if (is_login == "true") {


                $.ajax({
                    url: "/api/UserInfo/GetUserInfo",
                    type: 'GET',
                    headers: {
                        'Authorization': localStorage.getItem("JWTtoken")
                    },
                    success: function (res) {
                        var url_txt = res.data.mainPagePhoto.url;

                        var url = url_txt.toString();
                        $("#login_register").remove();
                        $("#usermodule").css("display", "inline-block");

                        $("#head_img").attr("src", url);

                        $("#logo").text(res.data.name + " のBlog");
                        $("#header_bg").css({ "background": "url(" + url + ") ", "background-size": "100% 100%" });
                        

                    },
                    error: function (res) {
                        alert("Layout获取用户数据失败！");
                    }




                });
            } else {

                $("#login_register").css("display", "inline-block");

            }



            var pathname = window.location.pathname;
            if(pathname=="/"||pathname=="/Home"||pathname=="/Home/Index"){
                $("#li_main_page").addClass("layui-this");
            }

            if (pathname == "/Blog" || pathname == "/Blog/BlogPage" ) {
                $("#li_blog").addClass("layui-this");
            }
        }



        function exit_login() {
            document.cookie = "is_login" + "=" + "false" + "; expires=Thu, 18 Dec 2043 12:00:00 GMT; path=/";
            localStorage.remove("JWTtoken");
            window.location.href = 'Home/Index';


        }










    </script>



    <style>

        .motto_class {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 1;
            color: white;
            font-size: 70px;
            font-weight: bold;
        }

    </style>
</body>
</html>